extends layout

block content
  h1 my site
  //a(href='/pages/w.html') w
  ul(class='nav')
    li
      a(href='/pages/main.html') main
    li
      a(href='/pages/galary.html') galary
    li
      a(href='/pages/about.html') about
  div(class='container')